@model capstone.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectNumber" class="control-label"></label>
                <input asp-for="ProjectNumber" class="form-control" />
                <span asp-validation-for="ProjectNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalId" class="control-label"></label>
                <input asp-for="TotalId" class="form-control" />
                <span asp-validation-for="TotalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkforceCalcId" class="control-label"></label>
                <input asp-for="WorkforceCalcId" class="form-control" />
                <span asp-validation-for="WorkforceCalcId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label"></label>
                <input asp-for="CompletionDate" class="form-control" />
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCompleted" class="control-label"></label>
                <input asp-for="IsCompleted" class="form-control" />
                <span asp-validation-for="IsCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTrackerId" class="control-label"></label>
                <input asp-for="TimeTrackerId" class="form-control" />
                <span asp-validation-for="TimeTrackerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
