@model capstone.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="ProjectNumber" class="control-label"></label>
                <input asp-for="ProjectNumber" class="form-control" />
                <span asp-validation-for="ProjectNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDay" class="control-label">Expected hours in a work day.</label>
                <input asp-for="WorkDay" class="form-control" />
                <span asp-validation-for="WorkDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborMargin" class="control-label">Labor Margin</label>
                <input asp-for="LaborMargin" class="form-control" />
                <span asp-validation-for="LaborMargin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesTax" class="control-label"></label>
                <input asp-for="SalesTax" class="form-control" />
                <span asp-validation-for="SalesTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmittedDate" class="control-label"></label>
                <input asp-for="SubmittedDate" type="date" class="form-control" />
                <span asp-validation-for="SubmittedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" type="date" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCompleted" class="control-label"></label>
                <input asp-for="IsCompleted" class="form-control" />
                <span asp-validation-for="IsCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label"></label>
                <input asp-for="CompletionDate" type="date" class="form-control" />
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                &nbsp&nbsp&nbsp
                <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
