@model capstone.Models.WorkforceCalc

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>WorkforceCalc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkforceCalcId" />
            <div class="form-group">
                <label asp-for="EmployeePayRateId" class="control-label"></label>
                <input asp-for="EmployeePayRateId" class="form-control" />
                <span asp-validation-for="EmployeePayRateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagmentHours" class="control-label"></label>
                <input asp-for="ManagmentHours" class="form-control" />
                <span asp-validation-for="ManagmentHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagmentCost" class="control-label"></label>
                <input asp-for="ManagmentCost" class="form-control" />
                <span asp-validation-for="ManagmentCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborHours" class="control-label"></label>
                <input asp-for="LaborHours" class="form-control" />
                <span asp-validation-for="LaborHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborCost" class="control-label"></label>
                <input asp-for="LaborCost" class="form-control" />
                <span asp-validation-for="LaborCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
